.header
    padding-top: 5px
    .top-header
        .flex-wrap
            display: flex
            justify-content: space-between
            align-content: center
            .left
                h1
                    font-size: 65px
                    font-weight: bold
                    letter-spacing: 1px
                    color: #e71d36
            .right
                display: flex
                align-items: center

                .button-bar
                    display: flex
                    justify-content: space-between
                    align-content: center
                    text-align: center
                    .button 
                        padding-right: 35px
                        a
                            font-size: 20px
                            position: relative
                        a:hover:after
                            margin-top: 10px
                            content: ""
                            display: block
                            width: 100%
                            height: 3px
                            background-color: #e71d36
                            position: absolute
                button                         
                    background-color: #e71d36
                    border: none
                    color: #fff
                    font-size: 18px
                    border-radius: 48px
                    padding: 60px
                    padding-top: 20px
                    padding-bottom: 20px
    .down-header 
        .flex-wrap
            display: flex
            justify-content: space-between
            align-items: center
            .left
                width: 60%
                .best
                    text-transform: uppercase
                    font-weight: bold
                    font-size: 65px
                    width: 70%
                    letter-spacing: 2px
                    line-height: 120%
                    padding-bottom: 40px
                    span
                        color: #e71d36
                        text-transform: uppercase
                        font-weight: bold
                        font-size: 65px
                .middle
                    font-size: 26px
                    padding-bottom: 40px
                    font-family: 'Inter', sans-serif
                    font-style: normal
                    font-weight: 500
                    font-size: 26px
                    line-height: 31px
                    letter-spacing: 0.02em
                    color: #011627
                .small
                    font-family: 'Inter'
                    font-style: normal
                    font-weight: 400
                    font-size: 18px
                    line-height: 200%
                    color: #011627
                    width: 60%
                    padding-bottom: 71px
                .button-class
                    display: flex
                    align-items: center
                    .first
                        padding-right: 33px
                        a
                            background-color: #e71d36
                            color: #fff
                            font-size: 18px
                            border-radius: 48px
                            padding: 60px
                            padding-top: 20px
                            padding-bottom: 20px
                    .second
                        a
                            display: flex
                            align-items: center
                            img
                                padding-right: 12px
                            p
                                font-family: 'Inter'
                                font-style: normal
                                font-weight: 500
                                font-size: 20px
                                line-height: 24px
                                text-decoration-line: underline
                                color: #E71D36
            .right
                width: 40%

                img 
                    width: 100%



                    
                        