html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, li, span, p, div, a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  color: #000;
}

.flex-wrap {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  padding-top: 10px;
}
.header .top-header .flex-wrap {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.header .top-header .flex-wrap .left h1 {
  font-size: 65px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #e71d36;
}
.header .top-header .flex-wrap .right {
  display: flex;
  align-items: center;
}
.header .top-header .flex-wrap .right .button-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.header .top-header .flex-wrap .right .button-bar .button {
  padding-right: 35px;
}
.header .top-header .flex-wrap .right .button-bar .button a {
  font-size: 20px;
  position: relative;
}
.header .top-header .flex-wrap .right .button-bar .button a:hover:after {
  margin-top: 10px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e71d36;
  position: absolute;
}
.header .top-header .flex-wrap .right button {
  background-color: #e71d36;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 48px;
  padding: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}